#navbarSupportedContent form {
    margin: 0 auto;
}

.categories-aside {
    width: 250px;
    float: left;
    padding: 0.5em;
    height: 100%;
}

.categories-aside ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.categories-aside ul li a {
    padding: 10px 10px;
    width: 100%;
    display: inline-block;
    border: 1px solid rgb(90, 157, 219) ;
    margin: 4px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.categories-aside ul li a:hover {
    color: white;
    background-color: rgb(90, 157, 219);
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    margin: 10px ;
}

.image-container {
    height: 150px;
    overflow: hidden;
}

.card-img-top {
    max-width: 18rem;
    height: auto;
}